/* style.css */
header {
  text-align: center;
  padding: 20px 0;
}

h1 {
  font-size: 50px; 
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.hour {
  background-color: transparent;
  color: #000000;
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: none;
  border-left: none;
  border-right: none;
}

.description {
  white-space: pre-wrap;
  height: 100px;
  width: calc(100% - 60px); 
  margin-right: 10px; 
}

.time-block {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 15px solid white;
}

.saveBtn-right {
  margin-left: auto;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff0000; 
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
  font-size: 16px;
  padding: 50px 50px; 
}

.saveBtn i:hover {
  font-size: 24px; 
  transition: font-size 0.3s ease-in-out;
}
